{% extends 'base.html' %}

{% block title %}EDU-MATCH{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About group</title>
</head>
<body>
<h1>สมาชิกผู้จัดทำ</h1>
<p>นายภาสกร		เเพรญาติ		6101012630135 ทำในส่วนของ Signup , Login , Edit profile , Change password
</p>
<p>นายเดชมนต์   แจ้งจิตต์		6101012610061 ทำในส่วนของ Matching , view other profile , review</p>
<p>นายกฤษณพงษ์	รอดจริง		6101012630011 ทำในส่วนของ Chat</p>
</body>
</html>
{% endblock content %}