{% extends 'base.html' %}

{% block title %}EDU-MATCH{% endblock %}

{% block content %}
<html>
        <h2>Add expert subject</h2>
        <h3>Name : {{ user.first_name }}  {{ user.last_name }}</h3>
        <p>Username : {{ user.username }} </p>
       <table>
               <p>My expert subject :</p>
           <form action="{% url 'add_subject' %}" method="post">
            <input name="item_subject" id="id_new_subject" placeholder="Enter a favorite Subject" />
            </ul><button type="submit" value="Submit"> Add </button>
            {% csrf_token %}
        </form>
        </table>

        {% if User %}
        <table id="id_list_table">
            <form action="{% url 'clean' %}" method="post">
            {% for new_subject in User.subject.all %}


                <tr><td><input type="checkbox" name="new_subject" id="new_subject{{ forloop.counter }}" value="{{ new_subject.id }}"><label for="new_subject{{ forloop.counter }}">{{ forloop.counter }}: {{ new_subject }}</label><br></td></tr>
            {% endfor %}
                <button id="id_delete_subject"type="submit">Remove</button>
                {{ error_message }}

                {% csrf_token %}
            </form>
        </table>

        {% endif %}

    </body>
</html>
{% endblock %}
