<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <title>{% block title %}{% endblock %}</title>

</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.normal{
font-size: 20px;
    color: #101010;
}
.checked {
  color: #ffff00;
  font-size: 20px;
  text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a href="{% url 'home' %}"><img src='/media/logo/logoEDU.png' width="65" height="65"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}

            <li class="nav-item">
            <a class="nav-link" id="id_profile" href="/profile/">&nbsp;&nbsp;Profile</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_add_subject' %}">Add expert subject</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'friendmatched' %}">My tutor&student</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'request_match' %}"> {% if wantmatchcount %} <span class="badge badge-pill badge-danger">{{ wantmatchcount }}</span> {% endif %} Tutor reguest</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/accounts/change_password">Change Password</a>
            </li>
              <li class="nav-item">
            <a class="nav-link" href="{% url 'about_app' %}">About app</a>
            </li>
              <li class="nav-item">
            <a class="nav-link" href="{% url 'about_group' %}">About group</a>
            </li>
            </ul>
            <a class="nav-link disabled" href="#">You are Logged in as {{ user.first_name }}</a>
            <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}">Log Out</a>
            {% else %}

            </ul>
            <a class="btn btn-outline-success  mr-sm-1" href="{% url 'login' %}">Log in</a>
            <a class="btn btn-outline-warning  my-sm-0" href="{% url 'SignUpView' %}">Sign Up</a>
            {% endif %}
        </div>
      </nav>
    </header>
<body>
    <br>
    <br>
    <hr>
    {% if messages %}
        {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}

</body>
</html>