{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}

<html>
<h2>Friend matched</h2>


<br>
{% if alltutor or allstudent%}
        {% if alltutor %}
        <table id="id_list_matching">
            My Tutor
            {% for tutor in alltutor %}
            <tr><td>{{ forloop.counter }}: {{ tutor }}          <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'friendprofile' tutor   %}'"> Profile </button>  <br></td></tr>

            {% endfor %}
        </table>
<br>
{% endif %}
{% if allstudent %}
        <table id="id_list_matching2">
            My Student
            {% for student in allstudent %}
            <tr><td>{{ forloop.counter }}: {{ student }}          <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'friendprofile' student   %}'"> Profile </button> <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'room' student %}'"> Message </button>  <br></td></tr>
            {% endfor %}
        </table>
{% endif %}
{% elif Nomatched %}
<ul> {{ Nomatched }} </ul>

{% endif %}


</html>




{% endblock content %}