{% extends 'base.html' %}

{% block title %}EDU-MATCH{% endblock %}

{% block content %}

    <h2>Welcome to My Site, {% if user.is_authenticated %}Hello {{ user.first_name }}{% else %}Visitor{% endif %} !</h2>
    <p>
        <strong>Total users registered </strong> {{ count }}
    </p>

    <h2>Matching</h2>
    <br>
    <form action="{% url 'search' %}" method="post">
    <input name="item_subject2" id="id_new_subject" placeholder="Enter a Subject" />
    {% csrf_token %}
        <input type="submit" value="Search">
    </form>
<br>
    {% if Noresult %}
       {{ Noresult }}
       {% endif %}
{% if usermatched %}
<table id="id_list_matching2">
            {% for matched in usermatched %}
            <tr><td> -  {{ matched }}          <button type="button" class="btn btn-outline-warning btn-sm" onclick="location.href='{% url 'friendprofile' matched   %}'"> Profile </button> <br></td></tr>
            {% endfor %}
        </table>

        {% endif %}
    {% if userins %}
        <table id="id_list_matching">

            {% for human in userins %}
            <tr><td> -  {{ human }}          <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'view_profile' human   %}'"> Profile </button> <br></td></tr>
            {% endfor %}
        </table>

        {% endif %}
{% endblock %}

