{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %} 
    <h2>{{ username }}'s profile</h2>
    <form method="post">
        {% csrf_token %}
        <p>Username   : {{ username }} </p>
        <p>First name : {{ firstname }} </p>
        <p>Last  name : {{ lastname }} </p>
        <p>Email address     : {{ email }} </p>
        <button type="submit"> Chat </button>
        <br><br>
        <a href="{% url 'match:home' %}">Back</a>
    </form>
{% endblock content %}