{% extends 'base.html' %}

{% block title %}EDU-MATCH{% endblock %}

{% block content %}
<html>
        <br><table><form action="{% url 'match:profile' %}">

         <button type="submit">My profile</button>
      </form>
        <form action="{% url 'match:home' %}">

         <button type="submit">Matching</button>
      </form></tr></table>
        <h2>My Profile</h2>

       <br>
       <p>Username : {{ user.username }} </p>
       <table>
               <p>My favorite subject :</p>
           <form action="{% url 'match:add_subject' %}" method="post">
            <input name="item_subject" id="id_new_subject" placeholder="Enter a favorite Subject" />
            </ul><button type="submit" value="Submit"> Add </button>
            {% csrf_token %}
        </form>
        </table>

        {% if User %}
        <table id="id_list_table">
            <form action="{% url 'match:clean' %}" method="post">
            {% for new_subject in User.subject.all %}


                <tr><td><input type="checkbox" name="new_subject" id="new_subject{{ forloop.counter }}" value="{{ new_subject.id }}"><label for="new_subject{{ forloop.counter }}">{{ forloop.counter }}: {{ new_subject }}</label><br></td></tr>
            {% endfor %}
                <button id="id_delete_subject"type="submit">Remove</button>
                {{ error_message }}

                {% csrf_token %}
            </form>
        </table>

        {% endif %}

    </body>
</html>
{% endblock %}
