{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %} 
    <h2>{{ username }}'s profile</h2>
    <form method="post">
        {% csrf_token %}
        <p>Username   : {{ username }} </p>
        <p>First name : {{ firstname }} </p>
        <p>Last  name : {{ lastname }} </p>
        <p>Email address     : {{ email }} </p>
        {{ count }}
        <button type="button" class="btn btn-outline-success btn-sm" onclick="location.href='{% url 'match:acceptM' username   %}'"> Accept </button> <button type="button" class="btn btn-outline-danger btn-sm" onclick="location.href='{% url 'match:declineM' username   %}'"> Decline </button>
        <br><br>
        <a href="{% url 'match:request_match' %}">Back</a>
    </form>
{% endblock content %}